<div class="paginator pager pagination">
  <div class="paginator_container pagination_container">
                <% if (pagination.prev) { %>
                  <a href="<%= pagination.prev %>" class="btn pre newer-posts newer_posts">返回上一页</a>
                <% } %>
                <% if (pagination.next) { %>
                  <a href="<%= pagination.next %>" class="btn next older-posts older_posts">阅读更多文章</a>
                <% } %>
  </div>
</div>